<!DOCTYPE html>
<html>
    <head>
        @await Html.PartialAsync("MetatagsPartial")
        @await Html.PartialAsync("CssPartial")
    </head>

    <body>
        <header class="header">
            <a id="name_site" href="/">Каталог фильмов</a>
            <div>
                <div id="movie_search">
                    <input />
                    <button>Поиск</button>
                </div>
                <a href="Aditor content.html" id="add_film">
                    Добавить фильм
                </a>
            </div>
        </header>

        <div class="content">
            @RenderBody()
        </div>

    </body>
</html>