<header class="header">
    <a id="name_site" href="/">MovieLib</a>
    <div>
        <div id="movie_search">
            <input />
            <button>Поиск</button>
        </div>
        @if (ViewBag.Button != null)
        {
            <a asp-action=@ViewBag.Button id="add_film">
                @ViewBag.ButtonText
            </a>
        }
    </div>
</header>