<header class="header">
    <a id="name_site" href="/">MovieLib</a>

    <div id="nav">
        @if (ViewBag.Action == "Create")
        {
            <form asp-action="Catalog" method="get" id="movie_search">
                    <input name="SearchName" placeholder="Поиск по названию" />
                    <button type="submit">Поиск</button>
            </form>
        }

        @if (ViewBag.Action != null)
        {
            <a asp-action=@ViewBag.Action asp-route-id="@ViewBag.ID" id="header_button">
                @ViewBag.ButtonText
            </a>
        }
    </div>
</header>