<header class="header">
    <a id="name_site" href="/">MovieLib</a>
    <div>
        <div id="movie_search">
            <input />
            <button>Поиск</button>
        </div>
        <a asp-action="Create" id="add_film">
            Добавить фильм
        </a>
    </div>
</header>