<meta charset="utf-8" />
<link rel="shortcut icon" href="~/images/icon/favicon.ico" type="image/x-icon" />
@if (ViewBag.Title != null)
{
    <title>@ViewBag.Title</title>
}
else
{
    <title>Каталог фильмов</title>
}